.App {
    width: 100vw;
    height: 100vh;
}
.test_2 {
    position:relative;

}
@keyframes colorChange {
    0% {
    }
    50% {
        background-color: #e74d3cb1;
    }
    100% {
    }
}
.timerEnd {
    position:relative;
    animation: colorChange 2s infinite;
}
.test{
    top: 0;
    left: 0;
    position:absolute;
}