/* body {
    width: 100%;
    height: 100%;
}
#root {
    width: 100vw;
    height: 100vh;
} */

.App {
    width: 100vw;
    height: 100vh;
}
.test_2 {
    position:relative;

}
@keyframes colorChange {
    0% {
        /* background-color: #3498db;  */
    }
    50% {
        background-color: #e74d3cb1; /* Красный */
    }
    100% {
        /* background-color: #3498db;  */
    }
}
.timerEnd {
    position:relative;
    animation: colorChange 2s infinite;
}
.test{
    /* width: 100%;
    height: 100%; */
    top: 0;
    left: 0;
    position:absolute;
}